.class1{
    display: block;
}

.class2{
    min-height: 100px;max-height: 100px; border-color: #dcdbe4 !important; border-bottom: solid 1px;
width: 100%;
margin: 0;
padding: 0;
display: flex;
}

.class3{
    width: 100%; min-height: 100px;max-height: 100px;
        overflow:auto;
        
}

.class4{
    margin-left: 15px;
}

.class5{
    margin-left: 15px;
    overflow: auto;
    border: 1px solid #dcdbe4;
    border-radius: 20px;
    background-color: white;
}

.class6{
    font-size: 10px;
     color:#2e3c64;
}

.class7{
    min-width: 100px; min-height: 100px;max-height: 100px;display: flex;align-items: center;justify-content: right;margin-right: 15px;
}

.class8{
    margin-left: 10px;
}

.class9{
    text-align: center;cursor: pointer;
}

.class10{
    margin-left: 10px
}

.class11{
    max-height: calc( 100vh - 182px ); overflow: auto;
padding: 15px;
}

.class12{
   padding-left: 10px; font-size: 13px;min-width: 25px;min-height: 25px;opacity:75%;
   align-content: center;
}

.class13{
    background-color: #3b71c0 !important;
    color: white !important;
}

.class14{
    background-color: #3b71c0;
}

.class15{
    max-width: calc(100% - 10px) !important;
    min-width: calc(100% - 10px) !important;
    border-radius: 20px;
    display: flex;
}

.class16{
    align-content: center;
     color:#2e3c64;
}