<div class="class1">
    <div class="class2"
*ngIf="!hideTitle"
>
        <div class="class3">
            <mat-grid-list [cols]="1" [rowHeight]="paths.length>0?'48px':'100px'">
                <mat-grid-tile>
                    <app-grid-tile>
                        <span class="defaultColor class4" 
                    [ngStyle]="{'font-size':(checkMobile.isMobile()?'20px':'30px')}">{{translate.transform(title)}}</span>
                    </app-grid-tile>
                </mat-grid-tile>

                <mat-grid-tile *ngIf="paths.length>0">
                    <app-grid-tile>
                        
                            <div class="class5">
                                <mat-chip-set >
                                    <ng-container *ngFor="let path of paths">
                                        <mat-chip [value]="path.value" (click)="clickPath(path.value)">
                                            <span class="class6">{{path.name}}</span>
                                        </mat-chip>
                                    </ng-container>
                                  </mat-chip-set>
                            </div>
                    </app-grid-tile>
                </mat-grid-tile>
                
            </mat-grid-list>
           
        </div>
        <div
            class="class7"
            *ngIf="hasAdd||addButtons.length>0"
            >
            <button mat-raised-button color="primary" (click)="addClicked.emit(true)" *ngIf="hasAdd">
                <span><i class="fa fa-plus"></i></span>
                <span *ngIf="!checkMobile.isMobile()" class="class8">{{translate.transform('add')+'[F2]'}}</span>
            </button>
            <span *ngIf="addButtons.length>0" class="class9"><i 
                onmouseenter="this.style.opacity='100%'" onmouseleave="this.style.opacity='75%'"
                class="fa fa-ellipsis-v class12" [matMenuTriggerFor]="menu"></i></span>

                <mat-menu #menu="matMenu">
                    <ng-container *ngFor="let button of addButtons">
                        <button mat-menu-item (click)="addButtonClicked.emit(button.code)">
                            <span [ngStyle]="{'color':button.color}"><i class="{{button.icon}}"></i></span>
                            <span class="class10">{{translate.transform(button.name)}}</span>
                        </button>
                    </ng-container>
                  </mat-menu>
        </div>
    </div>

    <div class="class11">
        <ng-content></ng-content>
    </div>
</div>