<app-page-title [title]="title" (addClicked)="add()"
[addButtons]="[refreshButton,refreshJasperButton]" (addButtonClicked)="addButtonClicked($event)"
>
  <mat-tree [dataSource]="dataSourceTree" [treeControl]="treeControl" style="background-color: transparent;">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <mat-label mat-icon-button disabled style="cursor: pointer;padding: 10px; border-radius: 10px;display: flex;"
        [class.demo-row-is-clicked]="clickedId.has(node.id)" (click)="clickNode(node)">
        <span><i [ngClass]="node.icon"></i></span>
        <span style="margin-left: 10px;"> {{node.name}}</span>
        <span style="display: flex; margin-left: 10px; justify-content: center; align-items: center;"
          *ngIf="node.id!=-1">

          <i style="color:#005cbb;margin-right: 10px;opacity: 75%" onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-pencil" [matTooltip]="translate.transform('edit')"
            (click)="$event.stopPropagation();clickNode(node);edit(node)"></i>

          <i style="color:red;opacity: 75%;margin-right: 10px;" class="fa fa-trash"
            onmouseover="this.style.opacity='100%'" onmouseleave="this.style.opacity='75%'"
            [matTooltip]="translate.transform('delete')"
            (click)="$event.stopPropagation();clickNode(node);delete(node)"></i>

          <i style="color:orange;opacity: 75%;margin-right: 10px;" class="fa fa-history"
            onmouseover="this.style.opacity='100%'" onmouseleave="this.style.opacity='75%'"
            [matTooltip]="translate.transform('history')"
            (click)="$event.stopPropagation();clickNode(node);history(node)"></i>

          <i style="color:green;margin-right: 10px;opacity: 75%" onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-columns"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="translate.transform('columns')"
            (click)="$event.stopPropagation();clickNode(node);columns(node)"></i>

          <i style="color:purple;margin-right: 10px;opacity: 75%" onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-repeat"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="translate.transform('triggers')"
            (click)="$event.stopPropagation();clickNode(node);triggers(node)"></i>

            <i style="color:maroon;margin-right: 10px;opacity: 75%" onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-file-pdf-o"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="jasperReportsTitle"
            (click)="$event.stopPropagation();clickNode(node);showJasperReports(node)"></i>

            <i style="color:OrangeRed;margin-right: 10px;opacity: 75%" onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-clock-o"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="translate.transform('jobScheduling')"
            (click)="$event.stopPropagation();clickNode(node);showJobs(node)"></i>


        </span>
      </mat-label>

    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>

      <mat-label style="cursor: pointer;padding: 10px; border-radius: 10px;display: flex;"
        [class.demo-row-is-clicked]="clickedId.has(node.id)" (click)="clickNode(node)">
        <span> <i matTreeNodeToggle
            [ngClass]="treeControl.isExpanded(node) ? 'fa fa-chevron-down' : 'fa fa-chevron-right'"
            (click)="checkExpand(node)"> </i></span>
        <span style="margin-left: 10px;"><i [ngClass]="node.icon"></i></span>
        <span style="margin-left: 10px;"> {{node.name}}</span>
        <span style="display: flex; margin-left: 10px; justify-content: center; align-items: center;"
          *ngIf="node.id!=-1">

          <i style="color:#005cbb;margin-right: 10px;opacity: 75%" *ngIf="node.id!=-1" class="fa fa-pencil"
            onmouseover="this.style.opacity='100%'" onmouseleave="this.style.opacity='75%'"
            [matTooltip]="translate.transform('edit')"
            (click)="$event.stopPropagation();clickNode(node);edit(node)"></i>

          <i style="color:orange;opacity: 75%;margin-right: 10px;" class="fa fa-history"
            onmouseover="this.style.opacity='100%'" onmouseleave="this.style.opacity='75%'"
            [matTooltip]="translate.transform('history')"
            (click)="$event.stopPropagation();clickNode(node);history(node)"></i>

          <i style="color:green;margin-right: 10px;opacity: 75%" onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-columns"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="translate.transform('columns')"
            (click)="$event.stopPropagation();clickNode(node);columns(node)"></i>

          <i style="color:purple;margin-right: 10px;opacity: 75%" onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-repeat"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="translate.transform('triggers')"
            (click)="$event.stopPropagation();clickNode(node);triggers(node)"></i>

            <i style="color:maroon;margin-right: 10px;opacity: 75%" onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-file-pdf-o"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="jasperReportsTitle"
            (click)="$event.stopPropagation();clickNode(node);showJasperReports(node)"></i>

            <i style="color:OrangeRed;margin-right: 10px;opacity: 75%" onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-clock-o"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="translate.transform('jobScheduling')"
            (click)="$event.stopPropagation();clickNode(node);showJobs(node)"></i>

        </span>
      </mat-label>
    </mat-tree-node>
  </mat-tree>

</app-page-title>