<app-page-title [title]="title" (addClicked)="add()"
[addButtons]="[refreshButton,refreshJasperButton]" (addButtonClicked)="addButtonClicked($event)"
>
  <mat-tree [dataSource]="dataSourceTree" [treeControl]="treeControl" class="class1">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <mat-label mat-icon-button disabled class="class2"
        [class.demo-row-is-clicked]="clickedId.has(node.id)" (click)="clickNode(node)">
        <span><i [ngClass]="node.icon"></i></span>
        <span class="class3"> {{node.name}}</span>
        <span class="class4"
          *ngIf="node.id!=-1">

          <i onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-pencil class5" [matTooltip]="translate.transform('edit')"
            (click)="$event.stopPropagation();clickNode(node);edit(node)"></i>

          <i class="fa fa-trash class6"
            onmouseover="this.style.opacity='100%'" onmouseleave="this.style.opacity='75%'"
            [matTooltip]="translate.transform('delete')"
            (click)="$event.stopPropagation();clickNode(node);delete(node)"></i>

          <i  class="fa fa-history class7"
            onmouseover="this.style.opacity='100%'" onmouseleave="this.style.opacity='75%'"
            [matTooltip]="translate.transform('history')"
            (click)="$event.stopPropagation();clickNode(node);history(node)"></i>

          <i onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-columns class22"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="translate.transform('columns')"
            (click)="$event.stopPropagation();clickNode(node);columns(node)"></i>

          <i  onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-repeat class8"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="translate.transform('triggers')"
            (click)="$event.stopPropagation();clickNode(node);triggers(node)"></i>

            <i  onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-file-pdf-o class9"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="jasperReportsTitle"
            (click)="$event.stopPropagation();clickNode(node);showJasperReports(node)"></i>

            <i onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-clock-o class23"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="translate.transform('jobScheduling')"
            (click)="$event.stopPropagation();clickNode(node);showJobs(node)"></i>

            <i onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-code class10"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="translate.transform('executeProcedure')"
            (click)="$event.stopPropagation();clickNode(node);showProcedure(node)"></i>


        </span>
      </mat-label>

    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>

      <mat-label class="class11"
        [class.demo-row-is-clicked]="clickedId.has(node.id)" (click)="clickNode(node)">
        <span> <i matTreeNodeToggle
            [ngClass]="treeControl.isExpanded(node) ? 'fa fa-chevron-down' : 'fa fa-chevron-right'"
            (click)="checkExpand(node)"> </i></span>
        <span class="class12"><i [ngClass]="node.icon"></i></span>
        <span class="class13"> {{node.name}}</span>
        <span class="class14"
          *ngIf="node.id!=-1">

          <i  *ngIf="node.id!=-1" class="fa fa-pencil class15"
            onmouseover="this.style.opacity='100%'" onmouseleave="this.style.opacity='75%'"
            [matTooltip]="translate.transform('edit')"
            (click)="$event.stopPropagation();clickNode(node);edit(node)"></i>

          <i  class="fa fa-history class16"
            onmouseover="this.style.opacity='100%'" onmouseleave="this.style.opacity='75%'"
            [matTooltip]="translate.transform('history')"
            (click)="$event.stopPropagation();clickNode(node);history(node)"></i>

          <i  onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-columns class17"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="translate.transform('columns')"
            (click)="$event.stopPropagation();clickNode(node);columns(node)"></i>

          <i onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-repeat class18"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="translate.transform('triggers')"
            (click)="$event.stopPropagation();clickNode(node);triggers(node)"></i>

            <i onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-file-pdf-o class19"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="jasperReportsTitle"
            (click)="$event.stopPropagation();clickNode(node);showJasperReports(node)"></i>

            <i onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-clock-o class20"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="translate.transform('jobScheduling')"
            (click)="$event.stopPropagation();clickNode(node);showJobs(node)"></i>

            <i  onmouseover="this.style.opacity='100%'"
            onmouseleave="this.style.opacity='75%'" class="fa fa-code class21"
            [ngStyle]="{'display':node.type=='TABLE'?'':'none'}"
            [matTooltip]="translate.transform('executeProcedure')"
            (click)="$event.stopPropagation();clickNode(node);showProcedure(node)"></i>

        </span>
      </mat-label>
    </mat-tree-node>
  </mat-tree>

</app-page-title>