 <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="class1">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button
      mat-flat-button
      class="class2"
      (click)="$event.stopPropagation();menuClicked.emit(true)"
      [routerLink]="node.url"
      [routerLinkActive]="'activeMenu'"
      [queryParams]="{'id':node.id}"
      >
      <span> <i [ngClass]="node.icon+' class3'"> </i></span>
      <span class="class4">{{node.name}}</span>
      </button>
  
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                   >
                   <button mat-flat-button matTreeNodeToggle
                   [attr.aria-label]="'Toggle ' + node.name"
                   class="class5"
                   >
            <span> <i [ngClass]="treeControl.isExpanded(node) ? 'fa fa-chevron-down' : 'fa fa-chevron-right'"> </i></span>
            <span> <i  [ngClass]="node.icon+' class6'"> </i></span>
            <span class="class7"> {{node.name}}</span>
           </button>
    </mat-tree-node>
  </mat-tree>
  