.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  /*
   * This padding sets alignment of the nested nodes.
   */
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }

  .class1{
    background-color: #2e3c64;
}

mat-tree-node button.class2{
  width: 100%;display: flex;align-items: center;justify-content: start;
  background-color:  #2e3c64 ;color: white ;
      
}

:host ::ng-deep button.mat-mdc-unelevated-button.class2.activeMenu {
  background-color: white;
  color: #2e3c64;
}

.class3{
  margin-left: 5px;
}

.class4{
  margin-left: 5px;
}

mat-tree-node button.class5{
  background-color: white;width: 100%;display: flex;align-items: center;justify-content: start;
                   background-color:  #2e3c64;color: white;
}

.class6{
  margin-left: 5px;
}

.class7{
  margin-left: 5px;
}

