table {
    width: 100%;
  }

.class1{
  max-height:  calc(10vh - 260px);min-height:  calc(100vh - 260px); overflow: auto;margin-top: 30px;
}

.class2{
  justify-content: space-between;align-items: center;
}

.class3{
  justify-content: space-between;align-items: center;
}

.class4{
  font-size: 11px;
}

.class5{
  width: 100%;background-color: white;margin-top: 10px;
}

.class6{
  display: flow-root;text-align: right;
}

.class7{
  margin-top: 5px;
  background-color: #3b71c0 !important;
  color: white !important;

}

.class8{
  background-color: green !important;margin-left: 10px;margin-top: 5px;
}

.class9{
  color: white !important;
}

.class10{
  background-color: red !important;margin-left: 10px;margin-top: 5px;
} 

.class11{
  color :white;
}

.class12{
  overflow: auto !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  min-height:  calc(100vh - 330px) !important;
  max-height: calc(100vh - 330px) !important;
  min-width: calc(100% - 30px) !important;
  margin-top: 30px !important;
  background-color: white !important;
} 

.class13{
  text-align: center;
}

.class14{
  display: flex;text-align: center;justify-content: center;
}

.class15{
  font-size: 16px;margin-left: 5px;opacity: 75%;
}

.class16{
  font-size: 16px;margin-left: 5px;opacity: 75%;color:red
}

.class17{
  text-align: left;
}

.class18{
  text-align: right;
}

.class19{
  text-align: right;
}

.class20{
  text-align: center;
}

.class21{
  color:white;max-width: 50px;min-width: 50px;display: inline flow-root;
                                    border-radius: 20px; padding-top: 5; padding-bottom: 5px;
}

.class22{
  text-align: center;
}

.class23{
  text-align: center;
}

.class24{
  text-align: right;border-radius: 5px;
} 

.class25{
  border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;
}

