<app-page-title [title]="title" [hasAdd]="false">
    <div [ngStyle]="{'display':checkMobile.isMobile()?'flow-root':'flex'}">
        <div class="sqlExecutorGrid1">
            <div
                class="class1">
                <mat-accordion multi>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{translate.transform('tables')}}</mat-panel-title>
                            <mat-panel-description class="class2">
                                <p></p>
                                <i class="fa fa-table" aria-hidden="true"></i>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-chip-set>
                            <ng-container *ngFor="let table of tables">
                                <mat-chip [value]="table.code" (click)="clickTable(table)"
                                    (dblclick)="sqlQuery=sqlQuery+' '+table.code;focus()"
                                    [ngStyle]="{'background-color':clickedTable.has(table.code)?'#2e3c64':''}">
                                    <span  [ngStyle]="{'color':clickedTable.has(table.code)?'white':'','font-size':'11px'}"><i [ngClass]="table.icon"></i></span>
                                    <span
                                        [ngStyle]="{'color':clickedTable.has(table.code)?'white':'','font-size':'11px','margin-left':'5px'}">{{table['name']}}</span>
                                </mat-chip>
                            </ng-container>
                        </mat-chip-set>

                    </mat-expansion-panel>

                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{translate.transform('columns')}}</mat-panel-title>
                            <mat-panel-description class="class3">
                                <p></p>
                                <i class="fa fa-columns" aria-hidden="true"></i>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-chip-set>
                            <ng-container *ngFor="let column of columns">
                                <mat-chip [value]="column.code" (click)="sqlQuery=sqlQuery+' '+column['code'];focus()">
                                    <span class="class4">{{column['name']}}</span>
                                    <ng-container *ngIf="column.codebookName!=undefined">
                                        <span  [ngStyle]="{'font-size':'11px','margin-left':'5px'}"><i [ngClass]="column.codebookIcon"></i></span>
                                        <span
                                        [ngStyle]="{'font-size':'11px','margin-left':'5px'}">{{column.codebookName}}</span>
                                    </ng-container>
                                </mat-chip>
                            </ng-container>
                        </mat-chip-set>

                    </mat-expansion-panel>

                </mat-accordion>

                <div class="class5">
                    <app-text-area [value]="sqlQuery" (exportValue)="sqlQuery=$event"
                        [rows]="checkMobile.isMobile()?3:4" [label]="sqlQueryLabel"
                        (keydown.f8)="executePreview(0,true)"
                        (keydown.f9)="executeUpdate()">
                    </app-text-area>
                </div>

                <div class="class6">
                    <button mat-raised-button (click)="executePreview(0,true)" class="class7">
                        <span><i class="fa fa-file-excel-o"></i></span>
                        <span
                            [ngStyle]="{'display':checkMobile.isMobile()?'none':'','margin-left':'10px'}">{{translate.transform('showData')+'[F8]'}}</span>
                    </button>
                    <button mat-raised-button class="class8" (click)="exportExcel()">
                        <span><i class="fa fa-file-excel-o class9"></i></span>
                        <span
                            [ngStyle]="{'display':checkMobile.isMobile()?'none':'','color':'white','margin-left':'10px'}">{{translate.transform('excel')}}</span>
                    </button>
                    <button mat-raised-button class="class10" (click)="executeUpdate()">
                        <span><i class="fa fa-bolt class11"></i></span>
                        <span
                            [ngStyle]="{'display':checkMobile.isMobile()?'none':'','color':'white','margin-left':'10px'}">{{translate.transform('execute')+'[F9]'}}</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="sqlExecutorGrid2">
            <div class="table-with-shadow class12
                ">
                <table mat-table matSort [dataSource]="dataSource" (matSortChange)="announceSortChange($event)">

                    <ng-container *ngFor="let column of sqlResult.columns">

                        <ng-container matColumnDef="{{column.orderNumber}}">
                            <th mat-sort-header class="class13" mat-header-cell *matHeaderCellDef>
                                <div class="class14">
                                    <span>{{column['name']}}</span>
                                    <span *ngIf="column.type=='BigDecimal'&&(!showSum.has(column.orderNumber))"><i
                                            class="fa fa-calculator class15"
                                            [matTooltip]="translate.transform('sum')"
                                            onmouseenter="this.style.opacity='100%'"
                                            onmouseleave="this.style.opacity='75%'"
                                            (click)="$event.stopPropagation();showSumInTable(column.orderNumber)"></i></span>
                                    <span *ngIf="column.type=='BigDecimal'&&(showSum.has(column.orderNumber))"><i
                                            class="fa fa-calculator class16"
                                            [matTooltip]="translate.transform('sum')"
                                            onmouseenter="this.style.opacity='100%'"
                                            onmouseleave="this.style.opacity='75%'"
                                            (click)="$event.stopPropagation();hideSumInTable(column.orderNumber)"></i></span>
                                </div>

                            </th>

                            <ng-container *ngIf="column.type=='String'">
                                <td class="class17" mat-cell *matCellDef="let element">
                                    {{element[column.orderNumber]}}</td>
                            </ng-container>

                            <ng-container *ngIf="column.type=='Long'||column.type=='Integer'">
                                <td class="class18" mat-cell *matCellDef="let element">
                                    {{element[column.orderNumber]| number : '1.0-0':lang}}</td>
                            </ng-container>

                            <ng-container *ngIf="column.type=='BigDecimal'">
                                <td class="class19" mat-cell *matCellDef="let element">
                                    {{element[column.orderNumber]| number : '1.2-10':lang}}</td>
                            </ng-container>

                            <ng-container *ngIf="column.type=='Boolean'">
                                <td class="class20" mat-cell *matCellDef="let element"><span
                                        [ngStyle]="{'background-color':element[column.orderNumber]?'green':'red'}"
                                        class="class21"
                                    >
                                        {{element[column.code]==true?translate.transform('Y'):translate.transform('N')}}
                                    </span></td>
                            </ng-container>

                            <ng-container *ngIf="column.type=='LocalDate'">
                                <td class="class22" mat-cell *matCellDef="let element">
                                    {{element[column.orderNumber]|date:dateFormat}}</td>
                            </ng-container>

                            <ng-container *ngIf="column.type=='LocalDateTime'">
                                <td class="class23" mat-cell *matCellDef="let element">
                                    {{element[column.orderNumber]|date:dateTimeFormat}}</td>
                            </ng-container>

                            <!-- TOTAL -->

                            <td mat-footer-cell *matFooterCellDef class="class24"
                                [ngStyle]="{'background-color':(showSum.has(column.orderNumber) ?'rgba(0,92,187,0.25)':'transparent')
                                
                            }">
                                {{showSum.has(column.orderNumber)? (sqlResult.totalsColumn[column.orderNumber]| number:
                                '0.2-10' : lang ):'' }}
                            </td>

                        </ng-container>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" tabindex="0"
                        (keydown.arrowdown)="go('down')" (keydown.arrowup)="go('up')"
                        [class.demo-row-is-clicked]="clickedRow.has(row)" (focus)="focusRow(row)"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"
                        [ngStyle]="{'display':sqlResult.hasTotal?'':'none'}">
                    </tr>
                </table>


            </div>
            <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
                [showFirstLastButtons]="true" [pageSizeOptions]="pageSizeOptions" [hidePageSize]="false"
                [pageIndex]="pageIndex"
                class="class25 table-with-shadow">
            </mat-paginator>


        </div>

    </div>



</app-page-title>