
<mat-form-field [ngStyle]="{'width':width==0?'100%':width+'px'}" >
    <mat-label><span>{{translate.transform(label)}}</span>
      <span aria-hidden="true" *ngIf="required" class="mat-mdc-form-field-required-marker mdc-floating-label--required ng-tns-c508571215-76 ng-star-inserted class1"></span>
    </mat-label>
    <textarea
    [rows]="rows"
    matInput
    [value]="currentValue"
    [disabled]="disabled"
    (input)="changeValue($event)"
    [ngClass]="resizable?'':'resizenot'"
    ></textarea>
  </mat-form-field>
