<div class="class1">
<div class="class2">
  <div >
    <img src="assets/logo.png" width="70px" height="70px"/>
  </div>
  
  <div>
    <mat-label class="class3">Interface reporting  manager</mat-label>
  </div>
  <form (ngSubmit)="enter()">
    <div class="class4">
      <app-input 
      [width]="357"
      [label]="'username'"
      [value]="value.username"
      (exportValue)="value.username=$event"
      >
      
      </app-input>
    </div>
  
  
    <div class="class5">
      <app-input 
      [width]="357"
      [type]="'password'"
      [label]="'password'"
      [value]="value.password"
      (exportValue)="value.password=$event"
      >
      
      </app-input>
    </div>
  
    <div class="class6">
      <app-select
      [width]="357"
      [list]="lang"
      [label]="'language'"
      [value]="value.language"
      (exportValue)="value.language=$event"
      >
      
      </app-select>
    </div>
  
    <button class="class7" mat-flat-button type="submit">
      <span><i class="fa fa-sign-in" ></i></span>
      <span class="class8">{{translate.transform('login')}}</span>
    </button>
  
  </form>
</div>


</div>