<div class="class1">
    <!-- toolbar -->
    <mat-toolbar *ngIf="!loginPage" class="class2">
        <!-- toolbar first part -->
        <div class="class3"
            [ngStyle]="{'min-width':(isMobile?'100%':'400px'),
            'max-width':(isMobile?'100%':'400px'),
            'border-color':showMenu?'#005cbb':((rootPage&&!hasDash)?'grey':'whitesmoke')
            }"
            [ngClass]="showMenu?'defaultBackground':'defaultBackgroundHide'"
            >
            <button mat-icon-button (click)="showMenu=!showMenu">
                <span ><i class="fa fa-bars" aria-hidden="true"></i>
                </span>
            </button>
            <button mat-flat-button (click)="goToHome()"
                class="class4"
                >
                <span class="class5"
                [ngStyle]="{'color':showMenu?'white':'#005cbb'}"
                ><i
                        class="fa fa-pie-chart"></i></span>
                <span 
                [ngStyle]="{'color':showMenu?'white':'#005cbb'}"
                class="class6">IRM</span>
            </button>

            <ng-container *ngIf="isMobile">
                <span class="example-spacer"></span>
                <button (click)="router.navigate(['notification'])"  mat-icon-button>
                    <span [matBadge]="unreadMessages" [matBadgeHidden]="unreadMessages==0" class="defaultColor"><i class="fa fa-bell" aria-hidden="true"></i>
                    </span>
                </button>
                <button [matMenuTriggerFor]="menu" mat-icon-button>
                    <span ><i class="fa fa-cog" aria-hidden="true"></i>
                    </span>
                </button>
            </ng-container>
        </div>

        <!-- toolbar second part -->
        <div class="class7"
            [ngStyle]="{'border-color':((rootPage&&!hasDash)?'grey':'whitesmoke'),
                 'display':(isMobile?'none':'flex')}">

            <button (click)="router.navigate(['notification'])"  mat-icon-button>
                <span  [matBadge]="unreadMessages" [matBadgeHidden]="unreadMessages==0" class="defaultColor"><i class="fa fa-bell" aria-hidden="true"></i>
                </span>
            </button>

            <button [matMenuTriggerFor]="menu" mat-icon-button>
                <span class="defaultColor"><i class="fa fa-cog" aria-hidden="true"></i>
                </span>
            </button>

            <mat-menu #menu="matMenu">
                <button (click)="userDetail()" mat-menu-item>
                    <span><i class="fa fa-user-circle" aria-hidden="true"></i>
                    </span>
                    <span  class="class8">{{userDetailLabel}}</span>
                </button>
                <button (click)="changePassword()" mat-menu-item>
                    <span><i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                    <span  class="class9">{{changePasswordLabel}}</span>
                </button>
                <button (click)="exit()" mat-menu-item>
                    <span><i class="fa fa-sign-out" aria-hidden="true"></i>
                    </span>
                    <span class="class10">{{exitLabel}}</span>
                </button>
                
            </mat-menu>
        </div>


    </mat-toolbar>
    <div>

    </div>

    <mat-drawer-container class="class11"
        autosize>
        <!-- menu -->
        <mat-drawer [opened]="showMenu" #drawer mode="side" [ngStyle]="{'display':(loginPage?'none':''),
            'min-width':(isMobile?'100%':'400px'),
            'max-width':(isMobile?'100%':'400px')
        }">
            <div class="class12" [ngStyle]="{
          'min-width':(isMobile?'100%':'400px'),
          'max-width':(isMobile?'100%':'400px')}">
                <div class="class13">
                    <app-main-menu [menuDTO]="listMenu" (menuClicked)="menuClicked()"></app-main-menu>
                </div>

            </div>
        </mat-drawer>


        <!-- router -->
        <div class="class14"
            [ngStyle]="{'display':(isMobile&&showMenu?'none':'')}">
            <router-outlet />
        </div>

    </mat-drawer-container>


</div>