<div class="class1">
    <mat-form-field #formField [ngStyle]="{'width':width==0?'100%':width+'px'}" class="class2"  *ngIf="!showSearch">
        <mat-label><span>{{translate.transform(label)}}</span>
            <span aria-hidden="true" *ngIf="required"  class="mat-mdc-form-field-required-marker mdc-floating-label--required ng-tns-c508571215-76 ng-star-inserted class3"></span>
        </mat-label>
        <mat-select
        #selectInput
        (keydown)="checkKey($event);"
        [value]="currentValue" (valueChange)="changeValue($event)" [disabled]="disabled">
        <ng-container *ngFor="let item of list"> 
            <mat-option [value]="item.value">
                <span *ngIf="icon" class="class4"><i [ngClass]="item.value"></i></span>
                {{item.option}}
            </mat-option>
        </ng-container>
    
        </mat-select>

      </mat-form-field>
       <mat-form-field #formField [ngStyle]="{'width':width==0?'100%':width+'px'}" class="class2"  *ngIf="showSearch">
        <mat-label><span>{{translate.transform(label)}}</span>
            <span aria-hidden="true" *ngIf="required"  class="mat-mdc-form-field-required-marker mdc-floating-label--required ng-tns-c508571215-76 ng-star-inserted class3"></span>
        </mat-label>
       
        <input type="text"
           matInput
           (keydown.escape)="$event.stopPropagation();escapeSearchField()"
           #searchInput
           [formControl]="myControl"
           [matAutocomplete]="auto"
           (focusout)="escapeSearchField()"
           
           >
    <mat-autocomplete (optionSelected)="selectAutoCompete($event)" autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
        <mat-option 
         (mousedown)="$event.preventDefault()"
        [value]="option.value">{{option.option}}</mat-option>
      }
    </mat-autocomplete>
      </mat-form-field>
    <ng-container *ngIf="searchApi.length>0&&disabled==false">
       <span class="class5"> <i
        onmouseleave="this.style.opacity='75%'" onmouseenter="this.style.opacity='100%'"
        class="fa fa-search class7" (click)="find()" ></i></span>
    </ng-container>
    <ng-container *ngIf="hasClear&&disabled==false">
        <span class="class6"> <i
         onmouseleave="this.style.opacity='75%'" onmouseenter="this.style.opacity='100%'"
         class="fa fa-times class8" (click)="changeValue(undefined);" ></i></span>
     </ng-container>
</div>
