<div class="class1">
    <mat-form-field [ngStyle]="{'width':width==0?'100%':width+'px'}" class="class2">
        <mat-label><span>{{translate.transform(label)}}</span>
            <span aria-hidden="true" *ngIf="required"  class="mat-mdc-form-field-required-marker mdc-floating-label--required ng-tns-c508571215-76 ng-star-inserted class3"></span>
        </mat-label>
        <mat-select [value]="currentValue" (valueChange)="changeValue($event)" [disabled]="disabled">
        <ng-container *ngFor="let item of list"> 
            <mat-option [value]="item.value">
                <span *ngIf="icon" class="class4"><i [ngClass]="item.value"></i></span>
                {{item.option}}
            </mat-option>
        </ng-container>
    
        </mat-select>
      </mat-form-field>
    <ng-container *ngIf="searchApi.length>0&&disabled==false">
       <span class="class5"> <i
        onmouseleave="this.style.opacity='75%'" onmouseenter="this.style.opacity='100%'"
        class="fa fa-search class7" (click)="find()" ></i></span>
    </ng-container>
    <ng-container *ngIf="hasClear&&disabled==false">
        <span class="class6"> <i
         onmouseleave="this.style.opacity='75%'" onmouseenter="this.style.opacity='100%'"
         class="fa fa-times class8" (click)="changeValue(undefined);" ></i></span>
     </ng-container>
</div>
