<app-page-title
[title]="title"
[hasAdd]="false"
>
<mat-form-field class="class1">
    <mat-label>{{translate.transform('filter')}}</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
  
  <div class="table-with-shadow class2"
  >
    <table mat-table [dataSource]="dataSource" matSort>
  
        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <div class="class3">
                    <span class="class4"
                    onmouseenter="this.style.opacity='100%'"
                    onmouseleave="this.style.opacity='75%'"
                    [matTooltip]="translate.transform('execute')"
                    >
                        <i class="fa fa-play"  (click)="executeJob(row)"></i>

                    </span>

                    <span class="class5"
                    onmouseenter="this.style.opacity='100%'"
                    onmouseleave="this.style.opacity='75%'"
                    [matTooltip]="translate.transform('reloadData')"
                    >
                        <i class="fa fa-refresh"  (click)="refreshRow(row)"></i>

                    </span>

                    <span class="class6"
                    onmouseenter="this.style.opacity='100%'"
                    onmouseleave="this.style.opacity='75%'"
                    [matMenuTriggerFor]="menu" 
                    >
                    <i class="fa fa-ellipsis-v" 
                        ></i>
                    </span>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editRow(row)">
                          <span><i  class="fa fa-pencil class7"></i></span>
                          <span class="class8">{{translate.transform('edit')}}</span>
                        </button>
                        <button mat-menu-item  (click)="logs(row)">
                            <span><i class="fa fa-history class9"></i></span>
                            <span class="class10">{{translate.transform('logs')}}</span>
                          </button>
                      </mat-menu>
                </div>
            </td>
        </ng-container>
        
        <ng-container *ngFor="let column of tableData.columns">
            <ng-container matColumnDef={{column.code}}>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.name}}</th>

                <ng-container *ngIf="column.columnType=='String'&&column.code!='fileName'">
                    <td mat-cell *matCellDef="let row" >{{row[column.code]}}</td>
                </ng-container>

                <ng-container *ngIf="column.columnType=='String'&&column.code=='fileName'">
                    <td mat-cell *matCellDef="let row" >{{row[column.code]}}
                        <span *ngIf="row[column.code]!=undefined" class="class11"
                        onmouseenter="this.style.opacity='100%'"
                        onmouseleave="this.style.opacity='75%'"
                        [matTooltip]="translate.transform('download')"
                        >
                            <i class="fa fa-download" (click)="download(row)"></i>
                        </span>
                    </td>
                </ng-container>

                <ng-container *ngIf="column.columnType=='LocalDateTime'">
                    <td mat-cell *matCellDef="let row" class="class12">{{row[column.code]|date:dateTimeFormat}}</td>
                </ng-container>

                <ng-container *ngIf="column.columnType=='Boolean'">
                    <td class="class13" mat-cell *matCellDef="let element">
                        <span [ngStyle]="{'background-color':element[column.code]?'green':'red'}"
                        class="class14"
                        
                        >
                         {{element[column.code]==true?translate.transform('Y'):translate.transform('N')}}
                        </span>
                     </td>
                </ng-container>
                
            </ng-container>
        </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      tabindex="0"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      (keydown.arrowdown)="go('down')" (keydown.arrowup)="go('up')"
      (focus)="focusRow(row)"
      ></tr>
  
    </table>
  

  </div>
  <mat-paginator
  class="table-with-shadow class15" [pageSizeOptions]="[10, 25, 50]" 
  [showFirstLastButtons]="true"
  ></mat-paginator>
  
  
</app-page-title>