<app-dialog-header
[title]="title"
[showSubmit]="false"
>
<mat-form-field class="class1">
    <mat-label>{{translate.transform('filter')}}</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
  
  <div class="table-with-shadow class2" 
  [ngStyle]="{'max-height':checkMobile.isMobile()?'300px':'400px'}"
  >
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- hasRight Column -->
      <ng-container matColumnDef="hasRight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{names.hasRight}}</th>
        <td mat-cell *matCellDef="let row" class="class3">
           <span> <mat-checkbox 
            (change)="changeSelection($event,row)"
            (click)="$event.stopPropagation()"
            [checked]="row['hasRight']"
           >
</mat-checkbox></span>
          </td>
      </ng-container>

      <!-- code Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{names.code}}</th>
        <td mat-cell *matCellDef="let row">{{row['code']}} </td>
      </ng-container>


      <!-- description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{names.description}}</th>
        <td mat-cell *matCellDef="let row">{{row['description']}} </td>
      </ng-container>

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="clickRow(row)"
      ></tr>
  
    </table>

  </div>
    
  <mat-paginator class="table-with-shadow class4" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  
  
</app-dialog-header>