<h2 mat-dialog-title>{{translate.transform(title)}}</h2>
<form (ngSubmit)="submitForm()">
<mat-dialog-content class="class1">

        <ng-content></ng-content>

</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="!yesNoDialog">
    <button mat-raised-button (click)="exit()" type="button">
        <span><i class="fa fa-ban"></i></span>
        <span class="class2">{{translate.transform('cancel')}}</span>
    </button>
    <button mat-raised-button color="primary" type="submit" *ngIf="showSubmit">
        <span><i class="fa fa-check"></i></span>
        <span class="class3">{{translate.transform('enter')}}</span>
    </button>
</mat-dialog-actions>

<mat-dialog-actions align="end" *ngIf="yesNoDialog">
    <button mat-raised-button type="button" (click)="dialogRef.close()">
        <span><i class="fa fa-times"></i></span>
        <span class="class4">{{translate.transform('no')}}</span>
    </button>
    <button mat-raised-button color="primary" type="button" (click)="dialogRef.close(true)" cdkFocusInitial>
        <span><i class="fa fa-check"></i></span>
        <span class="class5">{{translate.transform('yes')}}</span>
    </button>
</mat-dialog-actions>
</form>